<p>sayings works!</p>
<select (change)="onCategoryChange($event)" >
    <option value="">Select one...</option>

    <option *ngFor="let category of categories">
        {{category}}
    </option>
</select>
<br>
<form (submit)="onSaidBy($event)" name="myForm">
Who Said It
<input type="text" name="whoSaidIt" [(ngModel)]="whoSaidIt">
<input type="submit" value="Said By">
</form>

<table>
    <th>Category</th>
    <th>Quote</th>
    <th>Person</th>
    
    <tr *ngFor="let matching of matchingSayings">

        <td>{{matching.category}}</td>
        <td>{{matching.quote}}</td>
        <td>{{matching.person}}</td>
    
    </tr>
</table>
